<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Add new kitten!", new_kitten_path %></li>
    </ul>

    <% flash.each do |type, messages| %>
      <% messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
